<div id="header">  
				  <ul id="menu">
   	  		  <li><a href="#">Popular </a></li>
         		<li><a href="#">Recent </a></li>
            <li><a href="/academies/">Academies</a></li>
       			<li><a href="/teachers/">Teachers</a></li>
	          <li><a href="/letters/">Letters</a></li>
            <li><a href="/reader-central/">Reader Central</a></li>
            <li><a href="/anti-gossip/">Anti-Gossip</a></li>
   			  </ul>
          <a href="/">
            <div id="logo">
     			    <h1>Bergen Post</h1>
     		      <small>Subtitle Here</small>
     		    </div>
     		  </a>
        </div>

