<div class="block_content_left">
  <div class="block_inside">
    <h1>Authors</h1>

    <% for author in @authors %>
      <%=link_to (h author.name), author %><br />
    <% end %>

    <br />

    <%= link_to 'New author', new_author_path %>
  </div>
</div>
