<!--<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bergen Post::More Here</title>
<link href="stylesheets/homestyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="main">
    	<div class="container">
        	<div id="header">  
				<ul id="menu">
   	  			  <li><a href="#">Popular </a></li>
         		  <li><a href="#">Recent </a></li>
          		  <li><a href="#">Academies</a></li>
       			  <li><a href="#">Teachers</a></li>
	              <li><a href="#">Letters</a></li>
                  <li><a href="#">Dear Gupternan</a></li>
                  <li><a href="#">Anti-Gossip</a></li>
   			  </ul>
<a href="/bergenpost/"><div id="logo">
     				<h1>Bergen Post </h1>
     				<small>Subtitle Here</small>				</div></a>
                              </div>
            <div id="search">
            <input name="Search" type="text" value="Search" size="15" maxlength="35" /><input name="Submit" type="button" value="Enter" />
          </div>
<div id="block_columns">  
       <div class="block_content_left">
            	 <div class="block_inside">
            	   	<h3>Content</h3>
            	    <p>The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. </p>
                  </div>    
                                     
        </div>
        
        <div class="block_content_left">
            	 <div class="block_inside">
                   	<h3>Content</h3>
            	   	<p>The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs.</p>
   	      		</div>
        </div>
 
        <div class="block_content_left">
            	 <div class="block_inside">
            	   	<h3>Content</h3>
            	    <p>The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs. The quick brown box jumped over the lazy dogs.</p>
   	    	    </div>
		</div>
	</div>
</div>

	<div id="footer">
         <div class="footer_column long">  
               <h3>Site by eamon fay, Design by Jorge Soto</h3>  
               <p>The Bergen Post is a website that blah blah put your information here or send it to me and I will                  add it to the site.  If you need anything else to be managed then just ask this is just filler,                  tons and tons of filler because it is needed for no reason.</p>  
        </div>  
  
        <div class="footer_column">  
               <h3>More Links</h3>  
           			 <ul>  
                		<li><a href="#">Links!</a></li>  
                		<li><a href="#">Links!</a></li>  
                		<li><a href="#">Links!</a></li>  
                		<li><a href="#">Links!</a></li>  
                		<li><a href="#">Links!</a></li>  
               		</ul>  
        </div>  
              
           <div class="footer_column">  
               <h3>RSS</h3>  
           			 <ul>  
                 	  	<li><a href="">RSS Feed</a></li>  
                   		<li><a href="">What is RSS?</a></li>  
               		</ul>  
           </div>  

    </div>
</body>
</html>

