<div id="footer">
  <div class="footer_column long">  
    <h3>Webmasters Alec Benzer, Eamon Fay, Jorge Soto</h3>  
    <p>The Bergen Post is a website that blah blah put your information here or send it to me and I will                  add it to the site.  If you need anything else to be managed then just ask this is just filler,                  tons and tons of filler because it is needed for no reason.</p>  
  </div>
  <div class="footer_column">  
    <h3>More Links</h3>  
    <ul>  
      <li><a href="#">Links!</a></li>  
      <li><a href="#">Links!</a></li>  
      <li><a href="#">Links!</a></li>  
      <li><a href="#">Links!</a></li>  
      <li><a href="#">Links!</a></li>  
    </ul>  
  </div>     
  <div class="footer_column">  
    <h3>Atom</h3>  
    <ul>  
      <li><%= link_to "Atom feed", '/feed.atom' %></li>  
      <li><%= link_to "What is Atom?", "http://en.wikipedia.org/wiki/Atom_(standard)" %></li>  
    </ul>  
  </div>
</div>
